p{
    font-family: 'Mulish';
}
.dashboard-quick {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin: 50px 25px;
}

.streak-box{
    background-color: #4691bb;
    width: 500px;
    height: 200px;
    text-align: center;
    border-radius: 8px;
    margin: 10px 60px;
    padding: 15px;
}

.recent-decks{
    color: black;
    font-weight: bold;
    padding-top: 5px;
    font-size: 24px;
}

.view-flashstacks{
    margin-top: 70px;
    margin-left: 35px;
    background-color: #4691bb;
    width: 400px;
    height: 75px;
    font-size: 28px;
}

.keep-your-streak-going{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.streak-day{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done{
    background-color: lightcoral;  
}


.days{
    display: flex;
    font-family: 'Mulish';
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}