.allDecks {
  padding-top: 50px;
  padding-left: 100px;
}

.new-deck-form{
  margin-bottom: 25px;
}

.new-deck-form > input {
  height: 38px;
  border-radius: 8px;
}

.deck {
  width: 290px;
  height: 130px;
  background-color: #4691bb;
  margin: 25px 50px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.deck button {
  margin-top: 30px;
  background-color: #387395;
  border: none;
  width: 50%;
  height: 50px;
  cursor: pointer;
}

.deck p {
  color: white;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 5px;
}