.deck {
  width: 290px;
  height: 130px;
  background-color: #71d4ff;
  margin-right: 105px;
  margin-bottom: 50px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.deck button {
  background-color: #4691bb;
  width: 50%;
  height: 50px;
  cursor: pointer;
}

.deck p {
  color: white;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 5px;
}
