.login-page {
  margin: 0;
  margin-left: 30px;
  padding-top: 83px;
  padding-bottom: 83px;
  font-family: "Mulish", sans-serif;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  margin: 20px;
}

.signup {
  margin-top: 30px;
  margin-left: 20px;
  width: 30%;
}

.signup input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup .name,
.signup .email,
.signup .userdetails {
  display: flex;
  gap: 10px;
}

.signup .name input,
.signup .email input {
  width: calc(100% - 5px);
}

.signup input[type="submit"] {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  width: 100%;
  height: 40px;
  background-color: #4691bb;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.signup input[type="submit"]:hover {
  background-color: #2e628c;
}

.button-wrap {
  width: 33%;
}

.signup .no-account {
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  font-weight: 500;
}
