footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  color: #575757;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: -3px;
}

.footer-link {
  color: #575757;
  text-decoration: none;
  font-size: 16px;
}
